<div class="clients-container container-fluid">
  <div class="row">
    <h1>Our <u>Clients</u></h1>
  </div>

  <div class="slider1">
    <img
      class="clientLogo"
      src="../../assets/images/nsagoon-removebg-preview.png"
      alt="nasajoon"
      loading="lazy"
    />
    <img
      src="../../assets/images/masr-elkher-removebg-preview.png"
      alt="nasajoon"
      loading="lazy"
    />
    <img
      src="../../assets/images/Bellini-removebg-preview.png"
      alt="nasajoon"
      loading="lazy"
    />
    <img
      src="../../assets/images/coca-cola-removebg-preview.png"
      alt="nasajoon"
      loading="lazy"
    />
    <img
      src="../../assets/images/Fayrouz-removebg-preview.png"
      alt="nasajoon"
      loading="lazy"
    />
    <img
      src="../../assets/images/Ghabbour-Auto-removebg-preview.png"
      alt="nasajoon"
      loading="lazy"
    />
    <img
      src="../../assets/images/medizana-removebg-preview.png"
      alt="nasajoon"
      loading="lazy"
    />
    <img
      src="../../assets/images/persil-removebg-preview.png"
      alt="nasajoon"
      loading="lazy"
    />
    <img
      src="../../assets/images/somabay-removebg-preview.png"
      alt="nasajoon"
      loading="lazy"
    />
    <img
      src="../../assets/images/suez-canal-removebg-preview.png"
      alt="nasajoon"
      loading="lazy"
    />
    <img
      src="../../assets/images/tie-house-removebg-preview.png"
      alt="nasajoon"
      loading="lazy"
    />
    <img
      src="../../assets/images/masr-elkher-removebg-preview.png"
      alt="nasajoon"
      loading="lazy"
    />
    <img
      src="../../assets/images/nsagoon-removebg-preview.png"
      alt="nasajoon"
      loading="lazy"
    />
  
  </div>

  </div>
