<div class="section1 container-fluid">
  <div class="row">
    <div class="section-text col-md-6">
      <div class="row">
        <h1 >AVANDX</h1>
        <p>FOR MEDIA PRODUCTION & DIGITAL SERVICES</p>
      </div>

      <div class="row">
        <div class="col-md-6">
          <ul>
            <li>Media Production</li>
            <li>Branding</li>
            <li>Digital marketing</li>
            <li>Printing & internal Branding</li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul>
            <li>Web & App Development</li>
            <li>Social Media Management</li>
            <li>consultation</li>
            <li>PR “Public Relation”</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <button class="btn col-md-4 col-sm-5">Read More</button>
      </div>
    </div>

    <div class="imgContainer col-md-6">
      <img src="../../assets/images/about.jpg" alt="AVANDX" loading="lazy" />
    </div>
  </div>
</div>
