.section1 {
  color: #fff;
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

.section-text {
  position: relative;
}

.section-text h1 {
  font-size: 6.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 7px;
  color: #b50505;
  padding: 0;
  margin: 0;
}

.section-text p {
  color: rgba(128, 128, 128, 0.542);
  margin: -25px 0 0 0;
  font-size: 1.4rem;
}

ul {
  position: relative;
  padding: 0;
  left: 15px;
  font-size: 25px;
  color: #eeeeee;
  font-family: sans-serif;
}
li {
  margin: 6px 0;
  list-style: disc;
}

.imgContainer {
  margin: auto 0 auto 0;
}
.section1 img {
  margin-left: 30px;
  z-index: 5;
  position: relative;
  width: 100%;
  height: 25rem;
  object-fit: cover;
  border-radius: 50px;
  box-shadow: 0 5px 200px #b50505, 0 6px 60px #b50505;
  transition: 0.3s;
  animation: enterL 1s ease-in-out forwards, pulse 1s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 5px 200px #b50505, 0 6px 60px #b50505;
  }
  3% {
    box-shadow: none;
  }
  6% {
    box-shadow: 0 5px 200px #b50505, 0 6px 60px #b50505;
  }
  9% {
    box-shadow: none;
  }
  12% {
    box-shadow: 0 5px 200px #b50505, 0 6px 60px #b50505;
  }

  100% {
    box-shadow: 0 5px 200px #b50505, 0 6px 60px #b50505;
  }
}

.btn {
  background-color: #fff;
  position: relative;
  float: left;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  color: #b50505;
  transition: all 0.5s;
  font-size: 15px;
  overflow: hidden;
  outline: 2px solid #b50505;
}

button:hover {
  letter-spacing: 5px;
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #c30606;
  box-shadow: 4px 5px 17px -4px #b50505;
}

button::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #b50505;
  transform: skewX(45deg);
  z-index: -1;
  transition: 1s;
}

button:hover::before {
  width: 250%;
}

/* sm media query */
@media (max-width: 575.99px) {
  .section-text {
    text-align: center;
    margin-bottom: 20px;
  }
  .section-text h1 {
    font-size: 4.5rem;
  }
  .section-text p {
    font-size: 1rem;
  }
  li {
    list-style: none;
  }
  .btn {
    width: 50%;
    margin: 0 auto;
  }
  .imgContainer {
    margin: 0 auto;
    width: 80%;
  }
  .imgContainer img {
    border-radius: 20px;
    height: 15rem;
    margin-left: 0;
  }
}

/* md media query */
@media (min-width: 576px) and (max-width: 992px) {
  .section-text {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  li {
    list-style: none;
  }
  .btn {
    margin: 0 auto;
  }
  .imgContainer {
    margin: 0 auto;
    width: 80%;
  }
  .imgContainer img {
    border-radius: 20px;
    height: 15rem;
    margin-left: 0;
  }
}

@media (min-width: 991px) and (max-width: 1024px) {
  .imgContainer img {
    margin: 0;
  }
  .section-text {
    text-align: center;
  }
  li {
    list-style: none;
  }
  .btn {
    margin: 0 auto;
  }
}
