

<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <img
    routerLink=""
      class="navbar-brand"
      src="assets/images/logo.png"
      alt="AVANDX"
      loading="lazy"
    />

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
      
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" routerLink="" >HOME</a>
        <a class="nav-link">SERVICES</a>
        <a class="nav-link">CLIENTS</a>
        <a class="nav-link" >OUR TEAM</a>
        <a class="nav-link">CONTACT US</a>
        <button type="button" class="login-button" routerLink="join" >JOIN US</button>
      </div>
    </div>
  </div>
</nav>
