<div class="container-fluid">
  <div class="row">
    <h1 class="col-md-12">
      Our
      <u>Services</u>
    </h1>

    <div class="card col-md-4">
      <div class="card-inner">
        <div
          class="card-front"
          style="background-image: url(../../assets/images/s-7.png)"
        >
          <p class="title">Social Media Management</p>
        </div>
        <div class="card-back">
          <p class="title">Social Media Management</p>
          <ul class="services-list">
            <li>content plan</li>
            <li>creative designs</li>
            <li>copywriting</li>
            <li>moderation</li>
            <li>media buying</li>
            <li>creative campaigns</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card col-md-4">
      <div class="card-inner">
        <div
          class="card-front"
          style="background-image: url(../../assets/images/s-6.png)"
        >
          <p class="title">Media Producing</p>
        </div>
        <div class="card-back">
          <p class="title">Media Producing</p>
          <ul class="services-list">
            <li>TV Ads</li>
            <li>Videography</li>
            <li>Video editing</li>
            <li>Photography</li>
            <li>Photo Editing</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="card col-md-4">
      <div class="card-inner">
        <div
          class="card-front"
          style="
            background-image: url(../../assets/images/Check\ Out\ The\ Beautiful\ Illustrations\ and\ Typography\ On\ This\ Coffee.jpg);
          "
        >
          <p class="title">Branding</p>
        </div>
        <div class="card-back">
          <p class="title">Branding</p>
          <ul class="services-list">
            <li>concept creation</li>
            <li>logo</li>
            <li>Brand identity</li>
            <li>Brand collaterals</li>
            <li>Re-branding</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card col-md-4">
      <div class="card-inner">
        <div
          class="card-front"
          style="background-image: url(../../assets/images/s-3.png)"
        >
          <p class="title">Studio And Equipment</p>
        </div>
        <div class="card-back">
          <p class="title">Studio And Equipment</p>
          <ul class="services-list">
            <li>TV Ads</li>
            <li>Videography</li>
            <li>Video editing</li>
            <li>Photography</li>
            <li>Photo Editing</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card col-md-4">
      <div class="card-inner">
        <div
          class="card-front"
          style="
            background-image: url(../../assets/images/Software\ development\,\ programming\ language\,\ coding_\ 3d\ isometric\ pc\,\ computer\ with\ digital\ application\ isolated\ on\ white\ background.\ Vector\ design.jpg);
          "
        >
          <p class="title">Web Devolopment</p>
        </div>
        <div class="card-back">
          <p class="title">Web Devolopment</p>
          <ul class="services-list">
            <li>Professional Website</li>
            <li>Website(E-commerce-Informative)</li>
            <li>Mobile Application</li>
            <li>UI/UX Design</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container-fluid">
  <div class="row">
    <h1 class="col-md-4">Our <u>Services</u></h1>
    <figure class="card col-md-4">
      <img
        src="../../assets/images/Premium Vector _ Bar chart with line graph show effectiveness of business earning planning management.jpg"
        alt="mercedes sign"
        class="card-img"
      />
      <figcaption class="card-body">
        <div>
          <h2 class="card-category">The Iconic Mercedes Sign</h2>
          <p class="card-auther">
            The Mercedes sign, also known as the three-pointed star, is one of
            the most recognizable logos in the world.
          </p>
        </div>
      </figcaption>
    </figure>

    <figure class="card col-md-4">
      <img
        src="../../assets/images/Premium Vector _ Bar chart with line graph show effectiveness of business earning planning management.jpg"
        alt="mercedes sign"
        class="card-img"
      />
      <figcaption class="card-body">
        <div>
          <h2 class="card-category">The Iconic Mercedes Sign</h2>
          <p class="card-auther">
            The Mercedes sign, also known as the three-pointed star, is one of
            the most recognizable logos in the world.
          </p>
        </div>
      </figcaption>
    </figure>
  </div>

<div class="row">
  <figure class="card col-md-4">
    <img
      src="../../assets/images/Premium Vector _ Bar chart with line graph show effectiveness of business earning planning management.jpg"
      alt="mercedes sign"
      class="card-img"
    />
    <figcaption class="card-body">
      <div>
        <h2 class="card-category">The Iconic Mercedes Sign</h2>
        <p class="card-auther">
          The Mercedes sign, also known as the three-pointed star, is one of the
          most recognizable logos in the world.
        </p>
      </div>
    </figcaption>
  </figure>

  <figure class="card col-md-4">
    <img
      src="../../assets/images/Premium Vector _ Bar chart with line graph show effectiveness of business earning planning management.jpg"
      alt="mercedes sign"
      class="card-img"
    />
    <figcaption class="card-body">
      <div>
        <h2 class="card-category">The Iconic Mercedes Sign</h2>
        <p class="card-auther">
          The Mercedes sign, also known as the three-pointed star, is one of the
          most recognizable logos in the world.
        </p>
      </div>
    </figcaption>
  </figure>

  <figure class="card col-md-4">
    <img
      src="../../assets/images/Premium Vector _ Bar chart with line graph show effectiveness of business earning planning management.jpg"
      alt="mercedes sign"
      class="card-img"
    />
    <figcaption class="card-body">
      <div>
        <h2 class="card-category">The Iconic Mercedes Sign</h2>
        <p class="card-auther">
          The Mercedes sign, also known as the three-pointed star, is one of the
          most recognizable logos in the world.
        </p>
      </div>
    </figcaption>
  </figure>

</div>

  

  <figure class="card">
    <img
      src="../../assets/images/Premium Vector _ Bar chart with line graph show effectiveness of business earning planning management.jpg"
      alt="mercedes sign"
      class="card-img"
    />
    <figcaption class="card-body">
      <div>
        <h2 class="card-category">The Iconic Mercedes Sign</h2>
        <p class="card-auther">
          The Mercedes sign, also known as the three-pointed star, is one of the
          most recognizable logos in the world.
        </p>
      </div>
    </figcaption>
  </figure>
</div> -->
