<div class="container-fluid">
  <div class="row">
    <div class="form-container col-md-8">
      <form class="form col-md-12" [formGroup]="form" (ngSubmit)="submit()">
        <div class="row">
          <div class="col-md-6">
            <label class="col-md-12 ">First Name</label>
            <input
              type="text"
              class="input col-md-9"
              id="fname"
              formControlName="firstName"
            />
            <small
              style="color: red; display: block"
              class="col-md-12"
              *ngIf="form.get('firstName' ).errors?.['noSpace']"
              >Spaces are not allowed</small
            >
          </div>

          <div class="col-md-6">
            <label class="col-md-12">Last Name</label>

            <input
              class="input col-md-9"
              type="text"
              id="lname"
              formControlName="lastName"
            />
            <small
              style="color: red; display: block"
              class="col-md-12"
              *ngIf="form.get('lastName' ).errors?.['noSpace']"
              >Spaces are not allowed</small
            >
          </div>
        </div>

        <label class="col-md-12">Email</label>
        <input
          type="email"
          class="input col-md-8"
          id="email"
          formControlName="email"
        />

        <label class="col-md-12">Tel</label>
        <input
          placeholder=""
          type="tel"
          class="input col-md-8"
          id="tel"
          formControlName="tel"
        />

        <label class="col-md-12">Message</label>
        <textarea
          type="text"
          class="input col-md-12"
          id="message"
          formControlName="message"
        ></textarea>

        <button type="submit" class="submit col-md-6">SEND</button>
      </form>
    </div>
    <div class="text-container col-md-4">
      <h1 class="title">
        KEEP IN
        <u> TOUCH</u>
      </h1>
    </div>
  </div>
</div>
